#identity{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#identity img{
    width:30px;
    height:auto;
    margin-right:20px;
}

#identity > div div{
    display:flex;
    justify-content: flex-start;
    align-items:center;
}